#
# Main configuration.
#

#
# Device for benchmarking.
# Note: it will be reformatted.
#
device=/dev/sdb

#
# Where the device will be mounted.
#
mount_dir=/media/sdb

#
# Where the results will stored.
#
result_dir=/home/admin/fsbench/result

#
# Where log will be stored.
#
logfile=/home/admin/fsbench/log/logfile

#
# Which IO schedulers should not be applied
#
iosched_exclude="cfq deadline"

#
# Which benchmarks should not be run
#
benchmark_exclude="" 

# 
# Which file size should be used in proportion to memory
#
io_size_ratio="0.5 2"

#
# Number of records in MySQL benchmark
#
records_num=10000000

#
# Number of transactions in MySQL benchmark
#
trans_num=1000000
