#
# Main configuration.
#

#
# Device for benchmarking.
# Note: it will be reformatted.
#
device=/dev/sdb

#
# Where the device will be mounted.
#
mount_dir=/media/sdb

#
# Where the results will stored.
#
result_dir=/home/admin/fsbench/result

#
# Where log will be stored.
#
logfile=/home/admin/fsbench/log/logfile

#
# The number of benchmak execution
# default vaule if 1.  
runs=4

#
# Which IO schedulers should not be applied
#
iosched_exclude="cfq deadline"

#
# Which benchmarks should not be run
#
#benchmark_exclude="macro-fio-grep macro-fio-untar macro-fio-compile macro-sysbench-mysql \
#					micro-fio-sync-read micro-fio-sync-write micro-fio-sync-randread micro-fio-sync-randwrite \
#					metadata-fdtree"
benchmark_exclude="macro-fio-grep macro-fio-untar macro-fio-compile \
					micro-fio-sync-read micro-fio-sync-write micro-fio-sync-randread micro-fio-sync-randwrite \
					metadata-fdtree"

# 
# Which file size should be used in proportion to memory
#
io_size_ratio="0.5 2"

#
# Where the lua scripts of sysbench will be loacated
#
sysbench_lua=/home/roraouf/fsbench/sysbench-lua

#
# Number of records in MySQL benchmark
#
records_num=1000

#
# Number of transactions in MySQL benchmark
#
trans_num=100
