#
# Main configuration.
#

#
# Device for benchmarking.
# Note: it will be reformatted.
#
device=/dev/sdb

#
# Where the device will be mounted.
#
mount_dir=/media/sdb

#
# Where the results will go.
#
result_dir=result

#
# Which IO schedulers should not be applied
#
iosched_exclude="cfq deadline"

#
# Which benchmarks should not be run
#
#benchmark_exclude="fio-database fio-fileserver"

#
# Which FS mount options to apply to ext4.
#
ext4_mount_options="barrier,noatime,discard"

#
# Which FS mount options to apply to f2fs.
#
f2fs_mount_options="noatime,discard"

#
# Which FS mount options to apply to nilfs2.
#
nilfs2_mount_options="discard"
